.top-bar
{
	top: 0px;
	left: 0px;
	right: 0px;
	padding-bottom: 25px;
	 
}
@import "compass/css3";

$border-style: 1px solid white;
$border-distance: 6px;

a.btn {
  position: relative;
  display: inline-block;
  width: 250px;
  margin: $border-distance;
  color: white;
  font-size: 1.3em;
  letter-spacing: .05em;
  line-height: 3em;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    border: none;
  }

  &:before {
    position: absolute;
    content: '';
    top: -$border-distance;
    right: -$border-distance;
    bottom: -$border-distance;
    left: -$border-distance;
    border: $border-style;
  }
}


a.morning {
  background-color: salmon;
  color: white;

  &:hover {
    background-color: skyblue;
    color: white;
  }
  &:before {
    border-color: #eee;
  }
}
a.night {
  background-color: black;
  color: white;

  &:hover {
    background-color: deepskyblue;
    color: white;
  }
  &:before {
    border-color: #222;
  }
}

html.morning {
  background: linear-gradient(black 0%, MidnightBlue 25%, DeepSkyBlue 50%, skyblue 75%, salmon);
  background-size: 100% 400%;
  background-position: 0 100%;
}
html.night {
  background-image: linear-gradient(black 0%, MidnightBlue 25%, DeepSkyBlue 50%, skyblue 75%, salmon);
  background-size: 100% 400%;
  background-position: 0 0%;
}

// Transitions 

a.btn {
  transition: background-color 5s ease;
  &:before {
    transition: border-color 5s ease;
  }
}
html {
  transition: background 10s ease;
}



html {
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  height: 100%;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}



