div.scroll 
{
    /*background-color: #00FFFF;*/
    height: 400px;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;

}

.top-bar
{
	top: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 20px;
	padding-bottom: 0px;
	background-color: #6ee9f2;
	-webkit-box-shadow: 18px 21px 63px 8px rgba(0,0,0,0.62);
	-moz-box-shadow: 18px 21px 63px 8px rgba(0,0,0,0.62);
	box-shadow: 18px 21px 63px 8px rgba(0,0,0,0.62);	
	 
}
.top-bar-right
{
	right: -15px;
	top: 20px;
}
.input
{
	-webkit-box-shadow: 18px 21px 63px 8px rgba(0,0,0,0.62);
	-moz-box-shadow: 18px 21px 63px 8px rgba(0,0,0,0.62);
	box-shadow: 18px 21px 63px 8px rgba(0,0,0,0.62);
}
.bottom-round
{
	border-bottom-left-radius: 1000px;
	border-bottom-right-radius: 1000px;
}

body
{
	background-image: url(asset/images/bg.png);
	overflow-x:hidden;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dot-online {
	background-color: #40ff00;
}
.dot-offline {
	background-color: orange;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333;/*  Black background color*/ 
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 40%; /* Center the snackbar */
    bottom: 60px; /* 30px from the bottom */
    background: rgb(30,87,153);
    background: -moz-linear-gradient(top, rgb(30,87,153) 0%, rgb(41,137,216) 50%, rgb(32,124,202) 51%, rgb(125,185,232) 100%);
    background: -webkit-linear-gradient(top, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
    background: linear-gradient(to bottom, rgb(30,87,153) 0%,rgb(41,137,216) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
 .panel-body  {
    word-break:break-all
}